.container {
    background-color: #610C04;
    align-items: stretch;
    border:200px solid #610C04;
    background-image: url('/images/Vector 3.png'), url('/images/vector 4.png');
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-width: 0ch;
    list-style: none;
}

.container ul {
    list-style: none;
    display:flex;
    align-items: center;
    float: left;
    color: white;
}

.prior {
    width: 168px;
    height: 75px;
    color: black;
    background-color: #F8BF87;
    border-radius: 13px;
    font-size: 24px;
    border: 10px solid #F8BF87;
}

.main {
    margin-right: 250px;
}