.container {
    background-color: white;
    border:250px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:100px;
    position:relative;
    color: black;
}

.h6{
    font-size: 20px;
}